*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
}

#grid-container{
    display: grid;
    grid-template-areas: 
    'header header'
    'sidebar main-content'
    ;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
}
#header{
    grid-area: header;
    display: flex;
    justify-content: space-around;
    background-color: rgb(236, 236, 236);
    border-bottom: 1px solid black;
}

/*Sidebar*/
#sidebar{
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 350px;
}

.sidebar-part {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 10px; /* Optional padding */
}
.title{
    border-bottom: 1px solid black;
}

.project:hover, .click:hover{
    cursor: pointer;
    background-color: bisque;
}

/* Main content */
#main-content{
    grid-area: main-content;
    background-color: rgb(236, 236, 236);
}
#main-content > * {
    margin: 30px 20px;
}
#project-name {
    padding: 30px;
}
.add-task{
    padding: 10px;
}

/*General css */
.details{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 1002;
}
/* Style the overlay */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent grey */
    z-index: 1000; /* Lower than the popup */
  }


  #test{
    position:fixed ;
    bottom: 10px;
  }