#grid-container{
    display: grid;
    grid-template-areas: 
    'header header'
    'sidebar main-content'
    ;
    grid-template-columns: 1fr 3fr;
}
#header{
    grid-area: header;
}

#sidebar{
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project:hover, .click:hover{
    cursor: pointer;
    background-color: bisque;
}

#main-content{
    grid-area: main-content;
}

.details{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 1002;
}
/* Style the overlay */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent grey */
    z-index: 1000; /* Lower than the popup */
  }


  #test{
    position:fixed ;
    bottom: 10px;
  }